<!DOCTYPE html>
<html>
<head>
    <title>会员管理</title>
	<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model.trim="q.name" @keyup.enter="query" placeholder="姓名">
            </div>
            <a class="btn btn-default" @click="query">查询</a>
            <#if shiro.hasPermission("sys:dict:update")>
            <a class="btn btn-primary" @click="update('consume')"><i class="fa fa-pencil-square-o"></i>&nbsp;消费</a>
            </#if>
            <#if shiro.hasPermission("sys:dict:update")>
            <a class="btn btn-primary" @click="update('recharge')"><i class="fa fa-pencil-square-o"></i>&nbsp;充值</a>
            </#if>
            <#if shiro.hasPermission("sys:dict:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;注销</a>
            </#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <!--消费-->
    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                        <div class="col-sm-2 control-label">姓名</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model.trim="dict.name" readonly="readonly" placeholder="姓名"/>
                        </div>
                    </div>
            <div class="form-group">
                        <div class="col-sm-2 control-label">电话号码</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model.trim="dict.phone" readonly="readonly" placeholder="电话号码"/>
                        </div>
                    </div>
            <div class="form-group">
                        <div class="col-sm-2 control-label">身份证</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model.trim="dict.cardNo" readonly="readonly" placeholder="身份证"/>
                        </div>
                    </div>
            <div class="form-group">
                        <div class="col-sm-2 control-label">余额</div>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" v-model.trim="dict.balance" readonly="readonly" placeholder="余额"/>
                        </div>
                    </div>
            <div class="form-group" v-show="showConsume">
                <div class="col-sm-2 control-label">消费项目</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" style="cursor:pointer;" v-model.trim="goods.name" @click="productTree" readonly="readonly"/>
                </div>
            </div>
            <div class="form-group" v-show="showConsume">
                <div class="col-sm-2 control-label">项目价格</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" style="cursor:pointer;" v-model.trim="goods.price" readonly="readonly"/>
                </div>
            </div>
            <div class="form-group" v-show="!showConsume">
                <div class="col-sm-2 control-label">充值</div>
                <div class="col-sm-10">
                    <input type="number" class="form-control" v-model="charge" v-model.trim="charge" placeholder="请输入数字"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<!-- 选择项目 -->
<div id="productLayer" style="display: none;padding:10px;">
    <ul id="productTree" class="ztree"></ul>
</div>

<script src="${request.contextPath}/statics/js/modules/vip/vip.js?_${.now?long}"></script>
</body>
</html>