<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoniu.call.video.core.mapper.VideoTagMapper">
    <resultMap id="BaseResultMap" type="com.xiaoniu.call.video.core.entity.VideoTag">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="tag_number" jdbcType="VARCHAR" property="tagNumber"/>
        <result column="tag_name" jdbcType="VARCHAR" property="tagName"/>
        <result column="weights" jdbcType="INTEGER" property="weights"/>
        <result column="status" jdbcType="BIT" property="status"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
      id, tag_number, tag_name, weights, status, update_time, create_time
    </sql>

    <select id="selectValidList" resultType="com.xiaoniu.call.video.core.dto.VideoTagDTO">
        select tag_number,tag_name from video_tag
        where status = 1
        order by weights,create_time desc
    </select>

    <select id="selectList" resultType="com.xiaoniu.call.video.api.dto.VideoTagWebDTO">
        select <include refid="Base_Column_List"/> from video_tag
        where status = 1
        <if test="tagNumber != null and tagNumber != ''">
            and tag_number = #{tagNumber}
        </if>
        <if test="tagName != null and tagName != ''">
            and tag_name like concat('%',#{tagName},'%')
        </if>
        order by weights,create_time desc
    </select>
    
    <select id="selectListAll" resultType="com.xiaoniu.call.video.api.dto.VideoTagWebDTO">
        select <include refid="Base_Column_List"/> from video_tag
        where 1 = 1
        <if test="tagNumber != null and tagNumber != ''">
            and tag_number = #{tagNumber}
        </if>
        <if test="tagName != null and tagName != ''">
            and tag_name like concat('%',#{tagName},'%')
        </if>
        order by weights,create_time desc
    </select>
    
    <select id="selectMaximumNumber" resultType="java.lang.String">
        select max(tag_number) from video_tag
    </select>
</mapper>