<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoniu.call.video.core.mapper.VideoBehaviorMapper">
  <resultMap id="BaseResultMap" type="com.xiaoniu.call.video.core.entity.VideoBehavior">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="video_number" jdbcType="VARCHAR" property="videoNumber" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="video_type" jdbcType="INTEGER" property="videoType" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="category_number" jdbcType="VARCHAR" property="categoryNumber" />
    <result column="video_source" jdbcType="INTEGER" property="videoSource" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, video_number, title, video_type, type, tags, category_number, video_source, weight, 
    create_time
  </sql>
</mapper>