<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoniu.walking.web.core.mapper.auto.AdManagementMarketMapper">
  <resultMap id="BaseResultMap" type="com.xiaoniu.walking.web.core.model.auto.AdManagementMarket">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="management_id" jdbcType="INTEGER" property="managementId" />
    <result column="market" jdbcType="VARCHAR" property="market" />
  </resultMap>
</mapper>