<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- 输出日志到文件  每天一个文件 -->  
    <appender name="dailyRollingFile"  
        class="org.apache.log4j.DailyRollingFileAppender">
        <!-- 日志消息的输出最低层次 -->
        <!-- 日志编码 -->
        <param name="Encoding" value="UTF-8"></param>  
        <param name="Threshold" value="debug"></param>          
        <param name="ImmediateFlush" value="true"></param>  
        <param name="File" value="${catalina.home}/logs/wxio"></param>

        <param name="DatePattern" value="'_'yyyy-MM-dd'.log'"></param>  
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] {%c:%L}-%m%n"></param>  
        </layout>  
    </appender>  
    <!-- 屏蔽debug输出级别 -->
    <!-- 输出日志到文件  每天一个文件 -->  
   <!--  <appender name="dailyCmnInfo"
        class="org.apache.log4j.DailyRollingFileAppender">
        日志消息的输出最低层次  
        <param name="Threshold" value="info"></param>          
        <param name="ImmediateFlush" value="true"></param>  
        <param name="File" value="${catalina.home}/logs/wxio"></param>
        日志编码
        <param name="Encoding" value="UTF-8"></param>   
        <param name="DatePattern" value="'_'yyyy-MM-dd'.log'"></param>  
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] {%c:%L}-%m%n"></param>  
        </layout>  
    </appender>    -->
	<!-- Application Loggers -->
	<logger name="com.nssol_sh">
		<level value="debug" />
	</logger>
	<!-- 其他level/ 未启用 -->
	<!-- <logger name="com.nssol_sh">
		<level value="info" />
	</logger>
	<logger name="com.nssol_sh">
		<level value="error" />
	</logger> -->
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>
	
	<!-- 日志输出级别临时设置 -->
	<!-- <category name="com.nssol_sh"> 
    	<priority value="info" />
    	<appender-ref ref="dailyCmnInfo" />
	</category> -->
	
    <root>
		<priority value="info" />
		<appender-ref ref="dailyRollingFile" />
	</root>    
	
</log4j:configuration>
